body {
    color: #f9e0ff;
    background-color: #14141a;
    font-family: system-ui;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.default-0 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    gap: 1em;
}

h1, p, a {
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: none;
    animation: entrada 0.8s ease-in-out;
}

a {
    color: #9185ff;
    text-decoration: none;
    font-weight: bold;
}

button {
    background: transparent;
    padding: 2px 20px;
    filter: grayscale(1);
}

span {
    font-family: "JetBrains Mono";
}

.liked {
    filter: grayscale(0);
}

@keyframes entrada {
    from {
        filter: blur(10px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}